# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
.env

# Databases and Graphs
asclepius.db
knowledge_graph.json

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
.eslintcache

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
